.create-channel-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 60px;


  // border: 1px solid #e8e8e8;
  // background-color: #fff;
  // border-radius: 0.25rem;
  // box-shadow: 1px rgba(0,0,0,.25);
  // padding: 6em 6em 6em 6em;
  // width: 20%;
  // height: 60%;
  // margin: 0 auto;
}

.create-channel-form label {
  padding-left: 50px;
  padding-bottom: 5px;
  font-size: 48px;
  font-weight: 700;
  // font-family: "Times New Roman";
  width: 576px;
}

.create-channel-input {
  padding-left: 10px;
  padding-right: 10px;
  width: 500px;
  line-height: 3rem;
  border: 1px solid #a0a0a2;
  margin: 0 0 1rem 0;
  border-radius: 0.25rem;
  font-size: 20px;
}
