.sb-container {
  // display: inline-flex;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
  // box-sizing: border-box;
  border-radius: 10px;
  // justify-content: space-between;
  // flex-direction: column;
  background-color: #4D394B;
  width: 220px;
  height: calc(100% - 75px);
  z-index: 100;
}

.sb-current-user-div {
  display: block;
  padding-top: 20px;
}

.sb-current-user {
  text-transform: capitalize;
}

.sb-channels {
  padding-top: 1.5px;
}

.sb-current-user,
.sb-channels p {
  font-size: 16px;
  // width: 100%;
  color: white;
  padding: 0 12px 0 15px;
}

.join-channel {
  padding: 0 12px 0 15px;
}

.create-channel {
  color: #d3d3d3;
}

.sb-current-user {
  font-weight: 900;
}

.link {
  text-decoration: none;
}


.sb-channels-link {
  display: block;
  width: 100%;
  line-height: 1.5;
  text-align: left;
  transition: color 0.1s ease-out;
  text-decoration: none;
  font-size: 16px;
  opacity: 1;
  margin: 0 12px 0 0px;
}

.sb-channels-link > p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #d3d3d3;
}

.selected-channel {
  font-weight: 900;
  background-color: #4C9689;
}

.selected-channel p {
  color: white;
}

.join-channel, .create-channel p {
  text-decoration: none;
  color: #d3d3d3;
}

.join-channel:hover {
  cursor: pointer;
}

.sb-channels > ul li:not(.selected-channel):hover {
  background-color: #3E313C;
}
.sb-channels > ul p:not(.selected-channel):hover,
.sb-channels > a:hover {
  color: white;
  transition: 0.30s;
}

