.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background: #fff;
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
  min-height: 65px;
  max-height: 65px;
  z-index: 2;
  width: 100vw;
}

.logo {
  padding-left: 30px;
  text-decoration: none;
  color: #000;
  font-size: 1.75rem;
  font-weight: 700;
}
.nav-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 30px;
} 

.btn  {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 52px;
  padding:  5px 10px 5px 10px;
  margin: 5px;
  background-color: white;
  font-size: 14px;
  text-decoration: none;
  color: #717274;
  border: 1px solid black;
  box-shadow: 0 0 0 0.5px #717274;
  border-radius: 4px;
}

.btn:hover {
  cursor: pointer;
}

.btn:active {
  box-shadow: 0 1px #bbbbbb;
  transform: translateY(1px);
}
