.cm-container {
  display: inline-flex;
  justify-content: space-between;
  position: absolute;
}

.cm-container2 {
  display: block;
  margin-left: 50px;
}

.channel-title {
  margin-bottom: 1em;
}

.msg-item {
  padding-bottom: 1em;
}
