.sb-container {
  // display: inline-flex;
  display: block;
  float: left;
  position: absolute;
  box-sizing: border-box;
  // justify-content: space-between;
  // flex-direction: column;
  background-color: #4D394B;
  width: 220px;
  height: calc(100% - 75px);
}

.sb-channels p {
  font-size: 16px;
  // width: 100%;
  color: white;
  padding: 0 12px 0 15px;
}

.sb-channels-link {
  display: block;
  width: 100%;
  line-height: 1.5;
  text-align: left;
  transition: color 0.1s ease-out;
  text-decoration: none;
  font-size: 16px;
  font-weight: 900;
  opacity: 1;
  color: white;
  margin: 0 12px 0 15px;
}

.sb-channels li:hover {
  background-color: #3E313C;
}
