.demo-btn {
  float: left;
  position: relative;
  padding: 19px 40px 20px;
  top: 450px;
  left: 948px;

  line-height: 1.2rem;
  background: #1c299d;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  text-shadow: 0 1px 1px rgba(0,0,0,.1);
  border: none;
  border-radius: .25rem;
  box-shadow: none;
}
